user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 1024;
}

http {
         server {
            listen 443;
            server_name localhost 127.0.0.1;

            location / {
                proxy_pass          http://172.21.0.10:80;
                proxy_set_header    X-Forwarded-For $remote_addr;
            }

            location /api/db/ {
                proxy_pass	    http://172.21.0.11:4000;
                proxy_set_header    X-Forwarded-For $remote_addr;
            }
            location /api/server/ {
                proxy_pass          http://172.21.0.12:4001;
                proxy_set_header    X-Forwarded-For $remote_addr;
            }
            location /api/salt-server/ {
                proxy_pass          http://172.21.0.13:4002;
                proxy_set_header    X-Forwarded-For $remote_addr;
            }
        }
}
